flow.json
[
    {
        "id": "d117d1b62f7d086e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a8368cbbe1982c2",
        "type": "tab",
        "label": "Pi status",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "036fc0a2e35ba47f",
        "type": "ikea-connection",
        "address": "10.1.0.36",
        "name": "tradfri_psk"
    },
    {
        "id": "b2fb63b9d77e15a7",
        "type": "tradfri-config",
        "name": "tradfri config",
        "gatewayHost": "10.1.0.36",
        "identity": "tradfri_1644974507343",
        "preSharedKey": "0pRWR9e1G2aHPWTT"
    },
    {
        "id": "50afe6393fb38787",
        "type": "http in",
        "z": "d117d1b62f7d086e",
        "name": "/tradfri/mirror_lamps",
        "url": "/tradfri/mirror_lamps",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "e51696fdf2c871ae",
                "636320b99392df67"
            ]
        ]
    },
    {
        "id": "3ea589fd2b313663",
        "type": "catch",
        "z": "d117d1b62f7d086e",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 980,
        "wires": [
            [
                "04c6ca6dc91092d7"
            ]
        ]
    },
    {
        "id": "04c6ca6dc91092d7",
        "type": "debug",
        "z": "d117d1b62f7d086e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 980,
        "wires": []
    },
    {
        "id": "f28bc0dc4af57029",
        "type": "status",
        "z": "d117d1b62f7d086e",
        "name": "",
        "scope": null,
        "x": 100,
        "y": 1020,
        "wires": [
            [
                "42c920e8031cbe7c"
            ]
        ]
    },
    {
        "id": "42c920e8031cbe7c",
        "type": "debug",
        "z": "d117d1b62f7d086e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ca4355f86d3d201f",
        "type": "ikea-homesmart",
        "z": "d117d1b62f7d086e",
        "name": "",
        "deviceId": "65575",
        "deviceName": "Mirror lamps",
        "deviceType": "ikea-plugs",
        "deviceIcon": "font-awesome/fa-plug",
        "connection": "036fc0a2e35ba47f",
        "observe": false,
        "x": 430,
        "y": 640,
        "wires": [
            [
                "628fcee036910b55",
                "9f939e5899deaeb0"
            ]
        ]
    },
    {
        "id": "e51696fdf2c871ae",
        "type": "template",
        "z": "d117d1b62f7d086e",
        "name": "status",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "status",
        "output": "str",
        "x": 290,
        "y": 640,
        "wires": [
            [
                "ca4355f86d3d201f"
            ]
        ]
    },
    {
        "id": "628fcee036910b55",
        "type": "function",
        "z": "d117d1b62f7d086e",
        "name": "toggle",
        "func": "try {\n    return {topic: \"newstate\", payload: {onOff: !msg.payload.plugList[0].onOff}};\n} catch (err) {\n    node.error(\"Error\", err);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 640,
        "wires": [
            [
                "b1f5f66129fbd2ef",
                "9f939e5899deaeb0"
            ]
        ]
    },
    {
        "id": "b1f5f66129fbd2ef",
        "type": "ikea-homesmart",
        "z": "d117d1b62f7d086e",
        "name": "",
        "deviceId": "65575",
        "deviceName": "Mirror lamps",
        "deviceType": "ikea-plugs",
        "deviceIcon": "font-awesome/fa-plug",
        "connection": "036fc0a2e35ba47f",
        "observe": false,
        "x": 730,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "636320b99392df67",
        "type": "function",
        "z": "d117d1b62f7d086e",
        "name": "",
        "func": "msg.topic = \"http-initial\"\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 580,
        "wires": [
            [
                "9f939e5899deaeb0"
            ]
        ]
    },
    {
        "id": "9f939e5899deaeb0",
        "type": "join",
        "z": "d117d1b62f7d086e",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 610,
        "y": 580,
        "wires": [
            [
                "0195ddb93b151dae",
                "84d209f2ad655824"
            ]
        ]
    },
    {
        "id": "0195ddb93b151dae",
        "type": "debug",
        "z": "d117d1b62f7d086e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "344ecff5bbf8e055",
        "type": "http response",
        "z": "d117d1b62f7d086e",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 920,
        "y": 580,
        "wires": []
    },
    {
        "id": "84d209f2ad655824",
        "type": "function",
        "z": "d117d1b62f7d086e",
        "name": "",
        "func": "const device = msg.payload[\"ikea-plugs\"]\nmsg.payload = { name: device.name, newStatus: msg.payload.newstate}\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 580,
        "wires": [
            [
                "344ecff5bbf8e055"
            ]
        ]
    },
    {
        "id": "ee7696134c41259b",
        "type": "tradfri-switch-control",
        "z": "d117d1b62f7d086e",
        "gateway": "b2fb63b9d77e15a7",
        "name": "",
        "action": "on",
        "accessories": [
            "65575"
        ],
        "groups": [],
        "logInputErrors": true,
        "x": 360,
        "y": 720,
        "wires": []
    },
    {
        "id": "94f9e5ca27ce82c1",
        "type": "http in",
        "z": "d117d1b62f7d086e",
        "name": "/tradfri/mirror_lamps2",
        "url": "/tradfri/mirror_lamps2",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 720,
        "wires": [
            [
                "ee7696134c41259b"
            ]
        ]
    },
    {
        "id": "b1c7433538b40c08",
        "type": "http in",
        "z": "1a8368cbbe1982c2",
        "name": "/pistatus",
        "url": "/pistatus",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "aec6a6ac7dcfb2fb"
            ]
        ]
    },
    {
        "id": "8be8c824b3a1a597",
        "type": "http response",
        "z": "1a8368cbbe1982c2",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "aec6a6ac7dcfb2fb",
        "type": "exec",
        "z": "1a8368cbbe1982c2",
        "command": "NOCOLOR=true ./Scripts/systemstatus",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "8be8c824b3a1a597",
                "7d3e34a3aa784db9"
            ],
            [
                "7d3e34a3aa784db9"
            ],
            [
                "7d3e34a3aa784db9"
            ]
        ]
    },
    {
        "id": "7d3e34a3aa784db9",
        "type": "debug",
        "z": "1a8368cbbe1982c2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 260,
        "wires": []
    },
    {
        "id": "0ec389efe231462f",
        "type": "catch",
        "z": "1a8368cbbe1982c2",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "ec1fa2cf27e2a7ea"
            ]
        ]
    },
    {
        "id": "ec1fa2cf27e2a7ea",
        "type": "debug",
        "z": "1a8368cbbe1982c2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 460,
        "wires": []
    },
    {
        "id": "2641ff882a36271e",
        "type": "status",
        "z": "1a8368cbbe1982c2",
        "name": "",
        "scope": null,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "8809eb0acd5e381c"
            ]
        ]
    },
    {
        "id": "8809eb0acd5e381c",
        "type": "debug",
        "z": "1a8368cbbe1982c2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 500,
        "wires": []
    }
]