flow.json
[
    {
        "id": "d117d1b62f7d086e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "036fc0a2e35ba47f",
        "type": "ikea-connection",
        "address": "10.1.0.36",
        "name": "tradfri_psk"
    },
    {
        "id": "50afe6393fb38787",
        "type": "http in",
        "z": "d117d1b62f7d086e",
        "name": "/tradfri",
        "url": "/tradfri",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "e0be295598db064b",
        "type": "http in",
        "z": "d117d1b62f7d086e",
        "name": "/pistatus",
        "url": "/pistatus",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 800,
        "wires": [
            [
                "ef4e1f187973c37e"
            ]
        ]
    },
    {
        "id": "2988cc719fb018ac",
        "type": "http response",
        "z": "d117d1b62f7d086e",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 840,
        "y": 860,
        "wires": []
    },
    {
        "id": "3ea589fd2b313663",
        "type": "catch",
        "z": "d117d1b62f7d086e",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 980,
        "wires": [
            [
                "04c6ca6dc91092d7"
            ]
        ]
    },
    {
        "id": "04c6ca6dc91092d7",
        "type": "debug",
        "z": "d117d1b62f7d086e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 980,
        "wires": []
    },
    {
        "id": "ef4e1f187973c37e",
        "type": "exec",
        "z": "d117d1b62f7d086e",
        "command": "NOCOLOR=true ./Scripts/systemstatus",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 520,
        "y": 800,
        "wires": [
            [
                "2988cc719fb018ac",
                "966d2ffccfa8ed26"
            ],
            [],
            []
        ]
    },
    {
        "id": "966d2ffccfa8ed26",
        "type": "debug",
        "z": "d117d1b62f7d086e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 760,
        "wires": []
    },
    {
        "id": "f28bc0dc4af57029",
        "type": "status",
        "z": "d117d1b62f7d086e",
        "name": "",
        "scope": null,
        "x": 100,
        "y": 1020,
        "wires": [
            [
                "42c920e8031cbe7c"
            ]
        ]
    },
    {
        "id": "42c920e8031cbe7c",
        "type": "debug",
        "z": "d117d1b62f7d086e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 1020,
        "wires": []
    },
    {
        "id": "b105de4f5f807779",
        "type": "inject",
        "z": "d117d1b62f7d086e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"onOff\":true}",
        "payloadType": "json",
        "x": 250,
        "y": 520,
        "wires": [
            [
                "8acda703ada39466",
                "1c8c8a7c37c0292c"
            ]
        ]
    },
    {
        "id": "8acda703ada39466",
        "type": "ikea-homesmart",
        "z": "d117d1b62f7d086e",
        "name": "",
        "deviceId": "65575",
        "deviceName": "Mirror lamps",
        "deviceType": "ikea-plugs",
        "deviceIcon": "font-awesome/fa-plug",
        "connection": "036fc0a2e35ba47f",
        "observe": true,
        "x": 410,
        "y": 520,
        "wires": [
            [
                "a1ce18931921e307"
            ]
        ]
    },
    {
        "id": "1c8c8a7c37c0292c",
        "type": "debug",
        "z": "d117d1b62f7d086e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 460,
        "wires": []
    },
    {
        "id": "a1ce18931921e307",
        "type": "debug",
        "z": "d117d1b62f7d086e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 520,
        "wires": []
    },
    {
        "id": "dc01a42d3c756045",
        "type": "catch",
        "z": "d117d1b62f7d086e",
        "name": "",
        "scope": [
            "8acda703ada39466"
        ],
        "uncaught": false,
        "x": 420,
        "y": 580,
        "wires": [
            [
                "506d575aea3f0774"
            ]
        ]
    },
    {
        "id": "506d575aea3f0774",
        "type": "debug",
        "z": "d117d1b62f7d086e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 580,
        "wires": []
    }
]