flow.json
[
    {
        "id": "d117d1b62f7d086e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "036fc0a2e35ba47f",
        "type": "ikea-connection",
        "address": "10.1.0.36",
        "name": "tradfri_psk"
    },
    {
        "id": "50afe6393fb38787",
        "type": "http in",
        "z": "d117d1b62f7d086e",
        "name": "/tradfri/mirror_lamps",
        "url": "/tradfri/mirror_lamps",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "e51696fdf2c871ae",
                "70266be1dfa1c71b",
                "636320b99392df67"
            ]
        ]
    },
    {
        "id": "e0be295598db064b",
        "type": "http in",
        "z": "d117d1b62f7d086e",
        "name": "/pistatus",
        "url": "/pistatus",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 800,
        "wires": [
            [
                "ef4e1f187973c37e"
            ]
        ]
    },
    {
        "id": "2988cc719fb018ac",
        "type": "http response",
        "z": "d117d1b62f7d086e",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 840,
        "y": 860,
        "wires": []
    },
    {
        "id": "3ea589fd2b313663",
        "type": "catch",
        "z": "d117d1b62f7d086e",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 980,
        "wires": [
            [
                "04c6ca6dc91092d7"
            ]
        ]
    },
    {
        "id": "04c6ca6dc91092d7",
        "type": "debug",
        "z": "d117d1b62f7d086e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 980,
        "wires": []
    },
    {
        "id": "ef4e1f187973c37e",
        "type": "exec",
        "z": "d117d1b62f7d086e",
        "command": "NOCOLOR=true ./Scripts/systemstatus",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 520,
        "y": 800,
        "wires": [
            [
                "2988cc719fb018ac",
                "966d2ffccfa8ed26"
            ],
            [],
            []
        ]
    },
    {
        "id": "966d2ffccfa8ed26",
        "type": "debug",
        "z": "d117d1b62f7d086e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 760,
        "wires": []
    },
    {
        "id": "f28bc0dc4af57029",
        "type": "status",
        "z": "d117d1b62f7d086e",
        "name": "",
        "scope": null,
        "x": 100,
        "y": 1020,
        "wires": [
            [
                "42c920e8031cbe7c"
            ]
        ]
    },
    {
        "id": "42c920e8031cbe7c",
        "type": "debug",
        "z": "d117d1b62f7d086e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ca4355f86d3d201f",
        "type": "ikea-homesmart",
        "z": "d117d1b62f7d086e",
        "name": "",
        "deviceId": "65575",
        "deviceName": "Mirror lamps",
        "deviceType": "ikea-plugs",
        "deviceIcon": "font-awesome/fa-plug",
        "connection": "036fc0a2e35ba47f",
        "observe": false,
        "x": 430,
        "y": 640,
        "wires": [
            [
                "628fcee036910b55"
            ]
        ]
    },
    {
        "id": "e51696fdf2c871ae",
        "type": "template",
        "z": "d117d1b62f7d086e",
        "name": "status",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "status",
        "output": "str",
        "x": 290,
        "y": 640,
        "wires": [
            [
                "ca4355f86d3d201f"
            ]
        ]
    },
    {
        "id": "628fcee036910b55",
        "type": "function",
        "z": "d117d1b62f7d086e",
        "name": "toggle",
        "func": "try {\n    return {payload: {onOff: !msg.payload.plugList[0].onOff}};\n} catch (err) {\n    node.error(\"Error\", err);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "b1f5f66129fbd2ef",
        "type": "ikea-homesmart",
        "z": "d117d1b62f7d086e",
        "name": "",
        "deviceId": "65575",
        "deviceName": "Mirror lamps",
        "deviceType": "ikea-plugs",
        "deviceIcon": "font-awesome/fa-plug",
        "connection": "036fc0a2e35ba47f",
        "observe": false,
        "x": 710,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "dcf2c37b8ae84554",
        "type": "http response",
        "z": "d117d1b62f7d086e",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 420,
        "y": 680,
        "wires": []
    },
    {
        "id": "70266be1dfa1c71b",
        "type": "template",
        "z": "d117d1b62f7d086e",
        "name": "async",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "{\"status\": \"success\"}",
        "output": "str",
        "x": 290,
        "y": 680,
        "wires": [
            [
                "dcf2c37b8ae84554"
            ]
        ]
    },
    {
        "id": "3c27b260862fee26",
        "type": "debug",
        "z": "d117d1b62f7d086e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 580,
        "wires": []
    },
    {
        "id": "636320b99392df67",
        "type": "function",
        "z": "d117d1b62f7d086e",
        "name": "",
        "func": "node.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 580,
        "wires": [
            [
                "3c27b260862fee26"
            ]
        ]
    }
]